
  .header
  {
    background: #ffffff;
    top : 23px;
    height: 50px;
    position: sticky;
  }

  /* navbar */
  .header ul 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* container navbar */
  .header ul li
  {
    list-style: none;
    padding: 9px;
    position: relative;
  }

  /* nav menu */
  .header ul li a
  {
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }

  .header ul li a:hover
  { 
    background: #cbcbcb;
  }

  /* submenu */
  .header ul li ul
  {
    display: none;
    position: absolute;
    margin-top: 9px;
    background: #ffffff;
    width: auto;
    padding: 10px 2px;
  }

  .header ul li:hover ul
  {
    display: block;
   
  }